aiohttp==3.8.4
aiosignal==1.3.1
altgraph @ file:///System/Volumes/Data/SWE/Apps/DT/BuildRoots/BuildRoot11/ActiveBuildRoot/Library/Caches/com.apple.xbs/Sources/python3/python3-141/altgraph-0.17.2-py2.py3-none-any.whl
anyio==3.6.2
asgiref==3.6.0
async-timeout==4.0.2
attrs==23.1.0
autopep8==1.6.0
backoff==2.2.1
blinker==1.6.2
cachetools==5.3.0
certifi==2021.10.8
cffi==1.16.0
charset-normalizer==2.0.7
chromadb==0.3.22
click==8.1.7
clickhouse-connect==0.5.23
cryptography==41.0.4
dataclasses-json==0.5.7
discord.py==2.3.2
Django==4.1.7
dnspython==2.3.0
duckdb==0.7.1
et-xmlfile==1.1.0
fastapi==0.95.1
filelock==3.12.0
Flask==2.3.3
Flask-Cors==3.0.10
frozenlist==1.3.3
fsspec==2023.5.0
future @ file:///System/Volumes/Data/SWE/Apps/DT/BuildRoots/BuildRoot11/ActiveBuildRoot/Library/Caches/com.apple.xbs/Sources/python3/python3-141/future-0.18.2-py3-none-any.whl
google-api-core==2.11.0
google-api-python-client==2.104.0
google-auth==2.18.1
google-auth-httplib2==0.1.0
google-auth-oauthlib==1.1.0
googleapis-common-protos==1.59.0
gspread==5.11.3
gunicorn==20.1.0
h11==0.14.0
hnswlib==0.7.0
httplib2==0.22.0
httptools==0.5.0
huggingface-hub==0.14.1
idna==3.3
importlib-metadata==6.0.0
itsdangerous==2.1.2
Jinja2==3.1.2
joblib==1.2.0
langchain==0.0.162
llama-cpp-python==0.1.47
lz4==4.3.2
macholib @ file:///System/Volumes/Data/SWE/Apps/DT/BuildRoots/BuildRoot11/ActiveBuildRoot/Library/Caches/com.apple.xbs/Sources/python3/python3-141/macholib-1.15.2-py2.py3-none-any.whl
MarkupSafe==2.1.3
marshmallow==3.19.0
marshmallow-enum==1.5.1
monotonic==1.6
mpmath==1.3.0
multidict==6.0.4
mypy-extensions==1.0.0
networkx==3.1
nltk==3.8.1
numexpr==2.8.4
numpy==1.24.3
oauth2client==4.1.3
oauthlib==3.2.2
openai==0.19.0
openapi-schema-pydantic==1.2.4
openpyxl==3.0.9
packaging==23.1
pandas==1.3.4
pandas-stubs==1.2.0.35
Pillow==9.5.0
posthog==3.0.1
protobuf==4.23.1
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycodestyle==2.8.0
pycparser==2.21
pydantic==1.10.7
pygpt4all==1.1.0
pygptj==2.0.3
pyllamacpp==2.1.3
pymongo==4.3.3
pyOpenSSL==23.2.0
pyparsing==3.0.9
python-dateutil==2.8.2
python-dotenv==0.19.2
pytz==2021.3
PyYAML==6.0
redis==5.0.1
regex==2023.5.5
requests==2.30.0
requests-oauthlib==1.3.1
rsa==4.9
scikit-learn==1.2.2
scipy==1.10.1
sentence-transformers==2.2.2
sentencepiece==0.1.99
six==1.16.0
sniffio==1.3.0
SQLAlchemy==2.0.13
sqlparse==0.4.3
starlette==0.26.1
sympy==1.12
tenacity==8.2.2
textblob==0.17.1
threadpoolctl==3.1.0
tokenizers==0.13.3
toml==0.10.2
torch==2.0.1
torchvision==0.15.2
tqdm==4.62.3
transformers==4.29.0
typer==0.9.0
typing-inspect==0.8.0
typing_extensions==4.5.0
uritemplate==4.1.1
urllib3==1.26.7
uvicorn==0.22.0
uvloop==0.17.0
watchfiles==0.19.0
websockets==11.0.3
Werkzeug==2.3.7
yarl==1.9.2
zipp==3.14.0
zstandard==0.21.0
