.appContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.inputContainer {
  margin-bottom: 20px;
}

.rowContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.column {
  flex: 1 1 0;
  min-width: 200px;
}

.thermometer {
  display: inline-block;
  margin: 0 auto;
}
